assets/art/*.svg filter=lfs diff=lfs merge=lfs -text
assets/art/*.png filter=lfs diff=lfs merge=lfs -text
assets/art/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/art/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/art/*.gif filter=lfs diff=lfs merge=lfs -text
assets/art/*.webp filter=lfs diff=lfs merge=lfs -text
